<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ads Search 0602</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <input type="text" id="query_field" class="form-control"
                   placeholder="Search for advertisement" ng-model="searchText"
                   style="width: 80%; display: inline"/>


            <button id="query_button" ng-click="getTokens()" type="button"
                    class="btn btn-default"> <a href="index.html"> Search </a> </button>
        </div>
    </div>
</div>
</body>
</html>